html {
    --default-hue: 215;
    --default-saturation: 90%;
    --default-lightness: 68%;

    --base-color-1: hsl(var(--default-hue), var(--default-saturation), var(--default-lightness));
    --base-color-2: hsl(calc(25 + var(--default-hue)), var(--default-saturation), var(--default-lightness));
    --base-color-3: hsl(calc(-25 + var(--default-hue)), var(--default-saturation), var(--default-lightness));

    color: var(--base-color-1);
    --background-color: hsl(180, 100%, 98%);
    --backdrop-filters: grayscale(30%) brightness(30%);

    --score-color: var(--base-color-3);
    --strike-color: var(--base-color-3);
    --accent-color: white;

    --default-font-size: 1.2rem;
    --default-header-font-family: 'Merriweather';
    --default-header-font-size: 2rem;
    --default-body-font-size: 1.2rem;

    --mobile-width: 320px;
    --variable-widget-width: clamp(calc(0.75*var(--mobile-width)), 85vw, 50rem);

    --keyboard-width: 90vw;
    --keyboard-key-width: clamp(var(--default-font-size), 9vw, 3.7rem);
    --keyboard-key-horiz-spacing: calc(0.02*var(--keyboard-key-width));
    --keyboard-key-vert-spacing: calc(14*var(--keyboard-key-horiz-spacing));

    --yn-logo-top: 1vh;
    --yn-logo-left: 2vw;
    --yn-logo-height: calc(0.1*var(--variable-widget-width));

    --scorestrike-margin: clamp(2rem, 5%, 10rem);
    --keyboard-margin: calc(0.1*var(--keyboard-key-width));
}


#landscape-warning-container {
    /* `display: flex` defined in orientation change handler` */
    display: none;
    justify-content: center;
    text-align: center;
    backdrop-filter: var(--backdrop-filters);
    -webkit-backdrop-filter: var(--backdrop-filters);
    margin-top: 30vh;
}

#landscape-warning {
    display: none;
    margin: 4vh;
    color: var(--accent-color);
}

#yn-logo-container {
    position: fixed;
    top: var(--yn-logo-top);
    left: var(--yn-logo-left);
    z-index: 99;
}

#yn-logo {
    height: var(--yn-logo-height);
    transition: all calc(0.15*var(--default-animation-time)) ease;
    cursor: pointer;
}

#yn-logo:hover {
    transform: scale(1.1);
}

/* Styling when highlighting text with cursor */
::-moz-selection {  /* Firefox */
    color: var(--base-color-1);
    background: rgba(255, 255, 255, 0.75);
}
::selection {
    color: var(--base-color-1);
    background: rgba(255, 255, 255, 0.75);
}

body {
    /* Image from https://picryl.com/media/the-background-colorful-colors-backgrounds-textures-e41636
    under Creative Commons CC0 1.0 Universal Public Domain Dedication license,
    with modifications */
    background-image: url("../pictures/abstract-colours4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: 0;
}

main {
    backdrop-filter: var(--backdrop-filters);
    -webkit-backdrop-filter: var(--backdrop-filters);
    height: 90vh;
    border-radius: 1rem;
    margin: 3%;
}

button {
    cursor: pointer;
}

h1 {
    font-family: var(--default-header-font-family);
    color: var(--accent-color);
    font-size: clamp(calc(0.65*var(--default-font-size)), 5.8vw, calc(3.4*var(--default-font-size)));
    margin: 0;
    padding: 3vh 0 0 0;
    text-align: center;
}

h2 {
    font-family: var(--default-header-font-family);
    color: var(--accent-color);
    font-size: clamp(calc(0.9*var(--default-font-size)), 4.4vw, calc(1.8*var(--default-font-size)));
    margin: 10vh 0 2vh 0;
    text-align: center;
}

h3 {
    font-family: var(--default-header-font-family);
    color: var(--base-color-1);
    font-size: clamp(calc(0.75*var(--default-font-size)), 3.6vw, calc(1.5*var(--default-font-size)));
    text-align: center;
    margin: 8vh 0 2vh 0;
}

#difficulty-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 7rem;
}

.difficulty-button {
    background-color: var(--base-color-2);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: var(--default-body-font-size);
    color: var(--background-color);
    width: 100%;
    margin: 0.5vh 0;
    transition: all 0.3s ease;
}

.difficulty-button:hover {
    transform: scale(1.05);
    background-color: var(--base-color-1);
}

#game-page {
    display: none;
}

#clue-display {
    text-align: left;
    width: 85%;
    margin: 16vh 4vw 2vh 4vw;
}

@media screen and (max-width: 1000px) {
    #clue-display {
        margin: 3vh 4vw 2vh 4vw;
    }
}

#answer-display {
    color: var(--base-color-3);
    margin: 4vh 4vw 2vh 4vw;
    text-align: left;
    width: 85%;
}

#status-display {
    height: 2rem;
    text-align: left;
    width: 85%;
    margin: 4vh 4vw 2vh 4vw;
}

#scorestrike-display {
    display: flex;
    opacity: 0;
}

#allscore-display {
    position: absolute;
    bottom: var(--scorestrike-margin);
    left: var(--scorestrike-margin);
}

#score-display {
    text-align: left;
    color: var(--score-color);
}

#highscore-display {
    text-align: left;
    color: var(--score-color);
    margin: 0;
}

#allstrike-display {
    position: absolute;
    bottom: var(--scorestrike-margin);
    right: var(--scorestrike-margin);
}

#strike-display {
    text-align: right;
    color: var(--strike-color);
}

.background-flash {
    animation: flash-background 0.3s forwards ease-out;
}

@keyframes flash-background {
    0% {
        /* background-color: hsl(12, var(--default-saturation), 90%); */
        opacity: 0;
    }
    100% {
        /* background-color: var(--background-color); */
        opacity: 1;
    }
}

.score-flash {
    animation: flash-score 0.5s forwards ease-out;
}

.highscore-flash {
    animation: flash-score 0.5s forwards ease-out;
}

@keyframes flash-score {
    0% {
        color: var(--base-color-2);
    }
    100% {
        color: var(--score-color);
    }
}

.strike-flash {
    animation: flash-strikes 0.5s forwards ease-out;
}

@keyframes flash-strikes {
    0% {
        color: hsl(12, var(--default-saturation), 90%);
    }
    100% {
        color: var(--strike-color);
    }
}

#keyboard-container {
    /* `display: flex` defined in orientation change handler` */
    display: none;
    position: absolute;
    bottom: calc(4*var(--scorestrike-margin));
    text-align: center;
    justify-content: center;
    width: 100vw;
    background-color: rgba(247, 100, 112, 0.2);
}

#keyboard {
    display: none;
    padding: calc(0.3*var(--keyboard-margin));
    margin: calc(1.4*var(--keyboard-key-vert-spacing)) 0;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: var(--keyboard-key-vert-spacing);
}

#middle-keyboard-row {
    padding-left: 2.5vw;
}

#bottom-keyboard-row {
    padding-left: 3.1vw;
    margin-bottom: 0;
}

.keyboard-key {
    width: var(--keyboard-key-width);
    height: var(--keyboard-key-width);
    margin: 0 var(--keyboard-key-horiz-spacing);
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    line-height: calc(var(--keyboard-key-width));
    font-size: clamp(calc(1.0*var(--default-font-size)), 5vw, calc(2.0*var(--default-font-size)));
    font-family: var(--default-header-font-family);
    font-weight: bold;
    color: var(--accent-color);
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

#copyright-notice {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 4vh 0;
    color: var(--accent-color);
    font-family: 'kalam';
    margin-bottom: 0;
    flex-shrink: 0;
    text-align: center;
}

